/* =====================
    BLOG CSS
======================== */

// Blog display on main page
// Blog template code down below

.blog-section {
  padding-top: 160px;
  background-image: url("../images/common-bg.svg");
  background-size: cover;
  background-position: bottom-center;
}

.blog-section .section-title {
  margin-bottom: 60px;
}

@media only screen and (min-width: 1400px), only screen and (min-width: 1200px) and (max-width: 1399px) {
  .blog-section .section-title {
    padding: 0px 40px;
  }
}

.blog-section .section-title h2 {
  margin-bottom: 15px;
}
.single-blog {
  background: #fff;
  box-shadow: 0px 0px 50px rgba(183, 199, 240, 0.25);
  border-radius: 14px;
  padding: 52px 30px;
  margin-bottom: 50px;
  position: relative;
  overflow: hidden;
  z-index: 1;    
}

.single-blog .populer {
  position: absolute;
  right: 10px;
  top: 18px;
  color: #fff;
  z-index: 2;
  font-size: 16px;
  font-weight: 700;
}

.single-blog .blog-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.single-blog .blog-header h5 {
  font-size: 18px;
  margin-bottom: 20px;
}

.single-blog .blog-header h2 {
  font-size: 40px;
  margin-bottom: 30px;
}

.single-blog .blog-header h2 span {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 400;
}

.single-blog .blog-body {
  padding-top: 30px;
  padding-bottom: 25px;
}

.single-blog .blog-body ul li {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.single-blog .blog-body ul li span.bolet {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 13px;
  background: rgba(0, 0, 0, 0.2);
}

.single-blog .blog-body ul li span.bolet.active {
  background: #37C2CC;
}

.single-blog .blog-body ul li p {
  margin-bottom: 0px;
}

.single-blog .blog-footer .main-btn {
  color: #37C2CC;
  background: #E3FDFF;
}

.single-blog .blog-footer .main-btn:hover {
  color: #fff;
}

.single-blog .blog-footer .main-btn:hover::after {
  background: #37C2CC;
}

.single-blog.standard::after {
  content: '';
  position: absolute;
  background: #37C2CC;
  border-radius: 50%;
  z-index: -1;
  width: 150px;
  height: 150px;
  top: -70px;
  right: -50px;
}

.single-blog.standard .blog-footer .main-btn {
  color: #fff;
  background: #37C2CC;
}

.single-blog.standard .blog-footer .main-btn:hover::after {
  background: rgba(0, 0, 0, 0.05);
}

.single-blog div:first-of-type {
  padding-top: 0;
}

//Blog Single Post template
.single-post-nav {
    align-items: center;
    background: linear-gradient(180deg, #C2FBFF 0%, rgba(255, 255, 255, 0) 93.47%);
    display: flex;
    height: 400px;
    overflow: hidden;
    position: relative;
    z-index: 1;

    @media #{$mf-small} {
      height: 350px;
		}

    @media #{$mf-md} {
      height: 430px;
    }
}
.breadcrumb-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1em;

  @media #{$mf-small} {
    flex-direction: row;
  }
}
.breadcrumb-nav li {
  a {
    color: $primary-color;
    font-weight: 500;
    display: inline-block;
    position: relative;
    padding-right: 15px;
    margin-right: 15px;
    text-transform: capitalize; 
  }
  &::after {
    content: "\ea62";
    font-size: 10px;
    position: relative;
    font-family: lineIcons;
    // top: 4px;
    right: 11px;
  }
  &:last-child::after {
    content:""
  }
}
.single-post {
  @extend .single-blog;
  padding: 0px;
}
.single-post div:first-of-type {
  padding-top: 30px;
}



.single-post-meta {
  padding: 30px 16px 0 16px;

  @media #{$mf-small} {
    padding: 42px 24px 0 24px;
  }

  @media #{$mf-md} {
    padding: 52px 30px 0 30px;
  }
}
.single-post-header {
  @extend h3;
  margin-bottom: 20px;
}
.single-post-meta-info {
  font-size: 14px;
  display: inline-block;
  position: relative;
}
.single-post-meta-info li {
  font-size: 14px;
  display: inline-block;
  margin-right: 15px;
  padding-right: 15px;
  position: relative;

  a {
    color: #888;
    font-size: 14px;
    font-weight: 500;

    img {
      height: 35px;
      width: 35px;
      border-radius: 50%;
      display: inline-block;
      margin-right: 12px;

      @media #{$mf-small} {
        height: 35px;
        width: 35px;
      }
    
      @media #{$mf-md} {
        height: 50px;
        width: 50px;
      }
    } 
  }
}
.single-post-meta-info li::before {

  @media #{$mf-md} {
    position: absolute;
    content: "";
    right: -5px;
    top: 50%;
    background-color: #d2d2d2;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}
.single-post-meta-info li:last-of-type::before {

  @media #{$mf-md} {
    content: none;
  }
}
.single-post-thumbnail {
  position: relative;
  overflow: hidden;
  border-radius: 0;
  width: 100%;
  margin-top: 15px;

  img {
    width: 100%;
  }
  
  @media #{$mf-small} {
    margin-top: 42px;
  }

  @media #{$mf-md} {
    margin-top: 52px;
  }
}

.single-post-body {
  padding: 30px 16px;

  @media #{$mf-small} {
    padding: 42px 24px;
  }

  @media #{$mf-md} {
    padding: 52px 30px;
  }

  h3 {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  p {
    margin-bottom: 20px;
  }

  figure {
    img {
    max-width: 100%;
    }
  }
}

//BlogRoll Template {
.blog-roll-nav {
  @extend .single-post-nav;
  // height: 300px;
}
.blog-roll-card {
  @extend .single-post;
}
.blog-roll-card .single-post-thumbnail {
  @media #{$mf-md} {
    margin-top: 30px;
  }
}
.blog-roll-card-meta {
  @extend .single-post-meta;
  padding: 15px 15px 0 15px;


  @media #{$mf-md} {
    padding: 30px 30px 0 30px;
  }
}
.blog-roll-card-header {
  @extend .single-post-header;
  a {
    color: $black-70;
  }
  a:hover {
    color: $primary-color;
  }
}
.blog-roll-card-meta-info {
  @extend .single-post-meta-info;
}
.blog-roll-card-body {
  @extend .single-post-body;
  padding: 15px 15px 5px;

  @media #{$mf-md} {
    padding: 30px 30px 10px;
  }
}
.blog-roll-card-footer {
  @extend .blog-footer;
  padding: 0px 15px 15px;

  @media #{$mf-md} {
    padding: 0 30px 30px;
  }

}