/* ==========================
    FOOTER CSS
============================= */

.footer {

	.footer-widget {
		margin-bottom: 50px;

		.logo {
			margin-bottom: 30px;
		}

		.desc {
			margin-bottom: 25px;
		}

		.social-links {
			display: flex;
			align-items: center;

			li {

				a {
					width: 44px;
					height: 44px;
					border-radius: 50%;
					background: #E3FDFF;
					color: $black-90;
					display: flex;
					align-items: center;
					justify-content: center;
					margin-right: 18px;
					font-size: 22px;

					&:hover {
						background: $primary-color;
						color: $white;
					}
				}
			}
		}

		h3 {
			margin-bottom: 30px;
			margin-top: 10px;
		}

		.links {

			li {

				a {
					font-size: 16px;
					line-height: 30px;
					color: $black-70;


					&:hover {
						padding-left: 8px;
						color: $primary-color;
					}
				}
			}
		}

		form {
			display: flex;
			flex-direction: column;
			align-items: flex-end;

			input {
				width: 100%;
				background: #F1FEFF;
				border: 1px solid $primary-color;
				box-sizing: border-box;
				border-radius: 10px;
				margin-bottom: 20px;
				padding: 15px 20px;
			}

			button {
				text-align: right;
			}
		}
	}
}