/* =====================
    HOW WORKS CSS
======================== */

.cta-section {
  padding-top: 160px;
  background-image: url('../images/common-bg.svg');
  background-size: cover;
  background-position: bottom-center;


  .section-title {
    margin-bottom: 60px;
    
    @media #{$desktop, $laptop} {
      padding: 0px 40px;
    }

    h2 {
      margin-bottom: 15px;
    }

  }
}

.single-cta {
  background: $white;
  @include box-shadow(0px 0px 50px rgba(183, 199, 240, 0.25));
  border-radius: 14px;
  padding: 52px 30px;
  margin-bottom: 50px;
  position: relative;
  overflow: hidden;
  z-index: 1;

  .populer {
    position: absolute;
    right: 10px;
    top: 18px;
    color: $white;
    z-index: 2;
    font-size: 16px;
    font-weight: 700;
  }

  .cta-header {
    border-bottom: 1px solid $black-10;

    h5 {
      font-size: 18px;
      margin-bottom: 20px;
    }

    h2 {
      font-size: 40px;
      margin-bottom: 30px;

      span {
        font-size: 16px;
        color: $black-50;
        font-weight: 400;
      }
    }
  }

  .cta-body {
    padding-top: 30px;
    padding-bottom: 25px;

    ul {

      li {
        display: flex;
        align-items: center;
        margin-bottom: 12px;

        span.bolet {
          width: 8px;
          height: 8px;
          border-radius: 50%;
          margin-right: 13px;
          background: rgba($black-100, .2);

          &.active {
            background: $primary-color;
          }
        }

        p {
          margin-bottom: 0px;
        }
      }
    }
  }

  .cta-footer {

    .main-btn {
      color: $primary-color;
      background: #E3FDFF;

      &:hover {
        color: $white;
        
        &::after {
          background: $primary-color;
        }
      }
    }
  }

  &.standard {
    
    &::after {
      content: '';
      position: absolute;
      background: $primary-color;
      border-radius: 50%;
      z-index: -1;
      width: 150px;
      height: 150px;
      top: -70px;
      right: -50px;
    }

    .cta-footer {
      .main-btn {
        color: $white;
        background: $primary-color;

        &:hover {
          &::after {
            background: rgba($black-100, .05);
          }
        }
      }
    }
  }
}