/* =====================
    TEAM SECTION CSS
======================== */
.team-section {

  .single-team {
    position: relative;
    margin-bottom: 50px;

    .team-image {
      max-width: 313px;
      width: 100%;
      border-radius: 50%;

      img {
        width: 100%;
      }
    }

    .team-info {
      position: absolute;
      bottom: 30px;
      right: 0;
      background: $white;
      @include box-shadow(0px 8px 25px rgba(211, 211, 211, 0.25));
      padding: 20px 30px;
      min-width: 210px;
      text-align: center;

      h4 {
        font-size: 20px;
        margin-bottom: 5px;
      }

      p {
        font-size: 14px;
      }
    }
  }
}