/* ========================
		TESTIMONIAL CSS
=========================== */

.testimonial-section {
	background-image: url('../images/testimonial/testimonial-bg.svg');
	background-size: cover;
	background-position: bottom center;
	padding-top: 75px;
	padding-bottom: 130px;
	border-radius: 333px 0px;
	position: relative;
	z-index: 1;

	@media #{$laptop} {
		border-radius: 200px 0px;
	}
	@media #{$lg} {
		border-radius: 100px 0px;
	}
	@media #{$md, $xs} {
		border-radius: 70px 0px;
	}

	.testimonial-active-wrapper {
		position: relative;

		@media #{$xs} {
			padding-bottom: 80px;
		}

		.tns-controls {
			position: absolute;
			right: 0;
			bottom: 0;
			width: 100%;
			z-index: 2;
			display: flex;
			align-items: center;
			justify-content: flex-end;

			@media #{$xs} {
				justify-content: center;
			}

			button {
				width: 55px;
				height: 55px;
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 50%;
				background: $white;
				color: $black-90;
				border: 1px solid $primary-color;
				@include transition(.3s);
				margin: 0 5px;

				&:hover {
					background: $primary-color;
					color: $white;
				}
			}
		}


		.single-testimonial {
			text-align: center;

			.quote {
				font-size: 55px;
				line-height: 1;
				color: $primary-color;
				margin-bottom: 20px;
			}

			.content {
				margin-bottom: 30px;

				p {
					font-size: 22px;
					line-height: 35px;
					color: $black-70;
					padding: 0 15px;

					@media #{$xs} {
						font-size: 18px;
						line-height: 28px;
						padding: 0px;
					}
				}
			}

			.info {

				h6 {
					font-size: 16px;
					font-weight: 700;
					margin-bottom: 10px;
				}

				p {
					font-size: 15px;
				}
			}
		}
	}


	.testimonial-images {

		.testimonial-image {
			position: absolute;
			z-index: -1;
			max-width: 100%;

			@media #{$md, $xs} {
				display: none;
			}

			&.image-1 {
				left: 10%;
				top: 30%;
			}

			&.image-2 {
				bottom: 5%;
				left: 15%;
			}

			&.image-3 {
				top: 5%;
				right: 10%;
			}

			&.image-4 {
				top: 40%;
				right: 12%;

				@media #{$lg} {
					right: 8%;
				}
			}
		}
	}
}