.widget {
    background: #fff;
    box-shadow: 0px 0px 50px rgba(183, 199, 240, .25);
    border-radius: 14px;
    padding: 30px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    z-index: 1;

    form {

        position: relative;
    
        input {
            background-color: transparent;
            border-radius: 5px;
            border: 1px solid $primary-color;
            font-size: 14px;
            font-weight: 400;
            height: 55px;
            padding: 0 70px 0 30px;
            width: 100%;
        }
        button {
            border: none;
            position: absolute;
            right: 7px;
            top: 6px;
            width: 42px;
            height: 42px;
            z-index: 1;
            color: #fff !important;
            font-size: 13px;
            -webkit-transition: all 0.3s ease-out 0s;
            transition: all 0.3s ease-out 0s;
            color: #fff;
            border-radius: 5px;
            padding: 0 !important;
            border: none;
            background: $primary-color;
        }
    }
}
.widget-title {
    font-size: 22px;
    margin-bottom: 30px;
    position: relative;
    font-weight: 600;
    line-height: 28px;
    z-index: 1;
}
.categories-widget {
    .categories-list li {
        display: inline;

    }
    .categories-list li > a {
        -ms-flex-pack: center;
        -webkit-box-pack: center;
        background: 0 0;
        border-radius: 5px;
        border: 1px solid $primary-color;
        color: $black-70;
        display: -ms-inline-flexbox;
        display: -webkit-inline-box;
        display: inline-flex;
        font-size: 14px;
        font-weight: 400;
        justify-content: center;
        margin-bottom: 10px;
        margin-right: 5px;
        padding: 7px 15px;
        text-transform: capitalize;
    }
    .categories-list li > a:hover {
        background-color: $primary-color;
        color: #fff;
        border-color: transparent;
    }
}